@model IEnumerable<pizzaweb.Models.Tables.TblUser>

@{
    ViewData["Title"] = "ListAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    pizzaweb.Models.Tables.pizzawebContext db = new pizzaweb.Models.Tables.pizzawebContext();
}

<h1>List of Admin</h1>

<p>
    <a asp-action="CreateAdmin" class="btn btn-secondary" role="button" style="float: right; margin-bottom: 10px;">Create New</a>
</p>
<div class="container-fluid p-0" style="float: left; margin-bottom: -40px;">
<table class="table">
        <thead>
            <tr>
                <th>Stt</th>
                <th>
                    UserName
                </th>
                <th>
                    Password
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone
                </th>
                <th>Edit/Delete</th>
            </tr>
        </thead>
    <tbody>
            @{
                int stt = 1;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @stt
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)

                    </td>
                    <td>
                        <a class="btn btn btn-danger" asp-action="DeleteAdmin" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
                stt++;
            }
    </tbody>
</table>
</div>
